.main {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: "Mike";
}

.main__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Small Mobile Breakpoint */
@media (max-width: 480px) {
  .main {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
  }
}
