* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
}

html {
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

.pin-spacer {
  margin-top: 0;
}
